@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione estas regras */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}
